<app-header>Welcome to user Home</app-header>

<table>
  <thead>
    <tr>
      <th>crateId</th>
      <th>crateName</th>
      <th>crateDescription</th>
      <th>cratePrice</th>
      <th>crateColor</th>
      <th>sellerInfo</th>
      <th>address</th>
      <th>state</th>
      <th>phoneNo</th>
      <th>crateMeasurment</th>
      <th>crateImgPath</th>
      <th>crateImg</th>
      <th>version</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crate of Crates">
      <th>{{ crate.crateId }}</th>
      <th>{{ crate.crateName }}</th>
      <th>{{ crate.crateDescription }}</th>
      <th>{{ crate.cratePrice }}</th>
      <th>{{ crate.crateColor }}</th>
      <th>{{ crate.sellerInfo }}</th>
      <th>{{ crate.address }}</th>
      <th>{{ crate.state }}</th>
      <th>{{ crate.phoneNo }}</th>
      <th>{{ crate.crateMeasurment }}</th>
      <th>{{ crate.crateImgPath }}</th>
      <th>{{ crate.crateImg }}</th>
      <th>{{ crate.version }}</th>
    </tr>
  </tbody>
</table>
